/* Josefin-Sans - 100, 200, 300, 400, 500, 600, 700 */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --gap: 205px
}

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: #222222;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

main .wrapper {
    height: 100vh;
    width: 100vw;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .wrapper:first-child{
    display: flex;
    gap: 7%;
}

main .wrapper .title {
    text-align: center;
    font-size: 50px;
}

main .wrapper .main-content-wrapper .clock-wrapper .clock {
    font-size: clamp(14vw, 70vw, 5.3rem);
    text-align: center;
}

main .wrapper .main-content-wrapper .button-wrapper {
    display: flex;
    align-items: center;
}

main .wrapper .main-content-wrapper .button-wrapper svg {
    margin: 0 7vw;
}


.button-default {
    text-align: center;
    padding: 17px 30px;
    border-radius: 15px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    margin: 0 10px;
}

.button-default:hover {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
    cursor: pointer;
    ;
}

.button-default:active {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.clock::selection,
span::selection {
    background: transparent;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.color {
    color: rgb(93 24 220);
}

.arrow-up,
.arrow-down {
    min-width: 75px;
    max-width: 80px;
    height: auto;
    cursor: pointer;
}

.arrow-up:hover,
.arrow-down:hover {
    color: rgb(93 24 220);
    filter: drop-shadow(0px 7px 10px rgb(93 24 220)); 
    cursor: pointer;
    transition: all .5s ease;
    ;
}

.arrow-up:active {
    color: rgb(51, 10, 127);
    translate: 0 -5px;
}

.arrow-down:active {
    translate: 0 5px;
}

.disabled, .disabled:hover{
    color: #5555;
    cursor: not-allowed;
    filter: none;

}





@media screen 
  and (min-width: 360px) 
  and (max-width: 640px){
    
    .button-default {
    margin: 0;
    }

    main .wrapper .main-content-wrapper .button-wrapper svg {
        margin: 0 5vw;
    }


  } 